<!DOCTYPE html>
<html>
<head>
	<title>Admens Careers</title>
	<style>
		h1 {
			font-size: 40px;
			font-family: Roboto;
			font-weight: normal;
			color: rgba(8, 29, 80, 0.6);
			text-align: center;
		}

		#banner {
			width: 100%;
			height: 360px;
			object-fit: cover;
		}

		h2 {
			font-family: Roboto;
			font-size: 32px;
			text-align: center;
			color: rgb(9, 138, 108);
		}

		#container {
			max-width: 720px;
			margin: 0 auto 0 auto;
		}

		.bodytext {
			font-family: Roboto;
			color: rgb(80, 80, 80);
		}
	</style>
</head>
<body>
	<div id="container">
		<h1>Admens Careers</h1>
		<img id="banner" src="../static/career_pic.jpg" alt="Career pic" height="200px" width="400px">

		<h2>About Admens</h2>
		<p class="bodytext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi sed soluta esse? Ipsam praesentium fugiat quas iure, fuga ducimus ab corrupti officia quidem, quia architecto nostrum ad esse libero necessitatibus?</p>
		<hr>

		<h2>Job Openings</h2>
		<p class="bodytext">TODO - Show the jobs here</p>

		<div style="text-align: center;">
			<button>Contact us</button>
			<p>&copy; 2024 Admens. All rights reserved</p>
		</div>
	</div>
	
</body>
</html>